# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# OS generating files
.DS_Store
Thumbs.db

# Directories and a file generated on build
/target/
/test-results-native/
/src/test/resources/META-INF/native-image/resource-config.json

# GraalVM native trace output directory
/native-trace/
